*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: 'Spartan', sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: 'Spartan', sans-serif;
}

input {
  font-family: 'Spartan', sans-serif;
  border: none;
  &:focus {
    outline: 2px solid hsl(225, 21%, 49%);
  }
}
