*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Spartan", sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: "Spartan", sans-serif;
}

input {
  font-family: "Spartan", sans-serif;
  border: none;
}
input:focus {
  outline: 2px solid #637097;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
}

body {
  background-color: #3a4764;
  overflow: hidden;
  transition: 0.2s linear;
}

main {
  width: 80%;
  margin-inline: auto;
  gap: 3rem;
  justify-content: center;
  min-height: 100vh;
}

header {
  justify-content: space-between;
}
header .title {
  color: white;
  margin-top: 1.35rem;
}
header .theme {
  gap: 1.2rem;
  align-items: end;
}
header .theme__title h2 {
  color: white;
  font-size: 1rem;
}
header .theme__toggle {
  align-items: center;
  gap: 0.25rem;
}
header .theme__toggle-nums {
  gap: 1rem;
}
header .theme__toggle-nums button {
  color: white;
  font-size: 1rem;
}
header .theme__toggle-field {
  background-color: #232c43;
  border-radius: 1rem;
  width: 4rem;
}
header .theme__toggle-field .switcher {
  width: 1rem;
  height: 1rem;
  background-color: #d03f2f;
  border-radius: 50%;
  pointer-events: none;
}

.input input {
  width: 100%;
  padding: 1.95rem 1.5rem;
  font-size: 2rem;
  border-radius: 0.75rem;
  background-color: #182034;
  color: white;
  direction: rtl;
  unicode-bidi: embed;
}

.numbers {
  background-color: #232c43;
  border-radius: 0.75rem;
  grid-template-columns: repeat(4, 1fr);
  padding: 1.8rem;
  gap: 1rem;
}
.numbers button {
  background-color: #eae3dc;
  color: #444b5a;
  padding: 1rem 0;
  font-size: 1.75rem;
  border-radius: 0.5rem;
  box-shadow: -0.5px 3.5px 0px -1px #b4a597;
}
.numbers .blue {
  background-color: #637097;
  color: white;
  font-size: 1.3rem;
  box-shadow: -0.5px 3.5px 0px -1px #404e72;
}
.numbers .red {
  background-color: #d03f2f;
  color: white;
  font-size: 1.5rem;
  box-shadow: -0.5px 3.5px 0px -1px #93261a;
}
.numbers .span-two {
  grid-column: span 2;
}

body.white-theme {
  background-color: #e6e6e6;
}

body.white-theme .title {
  color: #232c43;
}

body.white-theme .theme__title h2 {
  color: #35352c;
}

body.white-theme .theme__toggle-nums button {
  color: #35352c;
}

body.white-theme .theme__toggle-field {
  background-color: #d1cccc;
}

body.white-theme input {
  background-color: white;
  color: #35352c;
}

body.white-theme .numbers {
  background-color: #d1cccc;
}
body.white-theme .numbers button {
  background-color: #ededed;
}
body.white-theme .numbers .blue {
  background-color: #377f86;
  box-shadow: -0.5px 3.5px 0px -1px #1b5f65;
}
body.white-theme .numbers .red {
  background-color: #ca5502;
  box-shadow: -0.5px 3.5px 0px -1px #893901;
}

body.purple-theme {
  background-color: #160628;
}

body.purple-theme .title {
  color: #ffe53d;
}

body.purple-theme .theme__title h2 {
  color: #ffe53d;
}

body.purple-theme .theme__toggle-nums button {
  color: #ffe53d;
}

body.purple-theme .theme__toggle-field {
  background-color: #1d0934;
}
body.purple-theme .theme__toggle-field .switcher {
  background-color: #00e0d1;
}

body.purple-theme input {
  background-color: #1d0934;
  color: #ffe53d;
}

body.purple-theme .numbers {
  background-color: #1d0934;
}
body.purple-theme .numbers button {
  background-color: #341c4f;
  color: #ffe53d;
  box-shadow: -0.5px 3.5px 0px -1px #871c9c;
}
body.purple-theme .numbers .blue {
  background-color: #58077d;
  box-shadow: -0.5px 3.5px 0px -1px #bc15f4;
  color: white;
}
body.purple-theme .numbers .red {
  background-color: #00e0d1;
  box-shadow: -0.5px 3.5px 0px -1px #6cf9f2;
  color: black;
}

@media only screen and (min-width: 430px) {
  main {
    width: 34rem;
  }
}
@media only screen and (min-width: 836px) {
  main {
    width: 38rem;
  }
}